body{
	background-color: gray;
	color:white;
	padding-left:100px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 

}
body > div{
	margin-top:100px;
}

.spin-item{
	max-width:600px;
	margin-top: 60px;
	padding-bottom:40px;
	border-bottom: 1px solid white;
	h2{
		font-weight:100;
		font-size:32px;
	}
}